# SPRING BOOT
spring.profiles.active=dev
spring.datasource.url=jdbc:postgresql://localhost:54321/portal_template
spring.datasource.name=portal-template
spring.datasource.username=portal-template
spring.datasource.password=portal-template

# SPRING SECURITY
spring.security.oauth2.resourceserver.jwt.issuer-uri=http://localhost:8082/auth/realms/master

# LOGGING
spring.jpa.show-sql=false
logging.level.root=INFO

